<!---Author: Priyanka Bonam-->
<% include ../header %>
<br/>
<br/>
<h2>orderLineItem details</h2>
<br/>
<br/>   ID:
<%=  orderLineItem._id %>
  <br> orderID:
  <%=orderLineItem.orderID%>
    <br/> lineNumber:
    <%=orderLineItem.lineNumber%>
      <br/> product:
      <%=orderLineItem.product%>
      <br/> quantity:
      <%=orderLineItem.quantity%>
        <br/>
        <br/>
            <br/>
            <form method="get" action="/orderLineItem">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
  