<!---Author: Priyanka Bonam-->
<% include ../header %>
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="orderLineItem/create" class="btn btn-primary new">
        Create a new orderLineItem
      </a>
      <h2>Recent orderLineItem entries</h2>
      <p>There are
        <%= orderLineItems.query.length %> orderLineItems.
          <br/>
      </p>
      <% for (var i = orderLineItems.query.length-1; i >= 0; i--) {   
        orderLineItem = orderLineItems.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
<%=  orderLineItem._id %>
  <br> orderID:
  <%=orderLineItem.orderID%>
    <br/> lineNumber:
    <%=orderLineItem.lineNumber%>
      <br/> product:
      <%=orderLineItem.product%>
      <br/> quantity:
      <%=orderLineItem.quantity%>
        <br/>
        <br/>
                          <br/>
                          <br/>
                          <a href="/orderLineItem/delete/<%= orderLineItem._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/orderLineItem/details/<%= orderLineItem._id %>" class="btn btn-info"> Details </a>
                          <a href="/orderLineItem/edit/<%= orderLineItem._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>

    </div>
  </div>
</div>
<% include ../footer %>