<!---Author: Priyanka Bonam-->
<!-- main  -->
<% include ../header %>
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="orderID">orderID</label>
        <input type="number" class="form-control" id="name" name="orderID" value="<%= orderLineItem.orderID %>" required>
      </div>
      <div class="form-group">
        <label for="lineNumber">lineNumber</label>
        <input type="number" class="form-control" id="breed" name="lineNumber" value="<%= orderLineItem.lineNumber %>">
      </div>
      <div class="form-group">
        <label for="product">product</label>
        <input  type="text" class="form-control" id="age" name="product" value="<%= orderLineItem.productKey %>" required>
      </div>
  
      <div class="form-group">
        <label for="quantity">quantity</label>
        <input type="number" class="form-control" id="age" name="quantity" value="<%= orderLineItem.quantity %>" required>
      </div>
    </div>
  </div>
  </div>
 