<!-- Authors: Priyanka Bonam, Harshitha, Harika Naidu, Sai Tejaswini Narne -->
<!--This page provides an error code if page doesn't exist or isn't properly linked to.-->
<% include header %>
<h2>404! Page not found.</h2>
<% include footer %>
