<!-- Authors: Priyanka Bonam, Harshitha, Harika Naidu, Sai Tejaswini Narne -->

<!--This will appear in the footer section of each page.-->
<footer>
    <h2>Copyrights @team 06-05</h2> 
</footer>
</html>