<!-- Authors: Priyanka Bonam, Harshitha, Harika Naidu, Sai Tejaswini Narne -->

<!--This will appear in the main section of each page.-->

<% include header %>
<article class>
    <div>
        <h1>Our Team Memebers are:</h1>
        <h3>
            <li>Priyanka Bonam - OrderLine</li>
            <li>Harshitha Chetty Ragava- Order</li>
            <li>Sai Tejaswini Narne - Customer</li>
            <li>Harika Naidu - Product</li>
        </h3>
    </div>
</article>
<br>
<br>

<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1>E-commerce</h1>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view about product</h4>
        <h5>
        <ol>
          <li>
            <a href="https://project-6-05.herokuapp.com/product">https://project-6-05.herokuapp.com/product</a>
          </li>
          <li>
            <a href=" https://project-6-05.herokuapp.com/product/create"> https://project-6-05.herokuapp.com/product/create</a>
          </li>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/product/edit/1">https://project-6-05.herokuapp.com/product/edit/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/edit/2">https://project-6-05.herokuapp.com/product/edit/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/edit/3">https://project-6-05.herokuapp.com/product/edit/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/edit/4">https://project-6-05.herokuapp.com/product/edit/4</a>
          </li>
          
          <li>
            <a href="https://project-6-05.herokuapp.com/product/delete/1">https://project-6-05.herokuapp.com/product/delete/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/delete/2">https://project-6-05.herokuapp.com/product/delete/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/delete/3">https://project-6-05.herokuapp.com/product/delete/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/delete/4">https://project-6-05.herokuapp.com/product/delete/4</a>
          </li>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/product/details/1">https://project-6-05.herokuapp.com/product/details/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/details/2">https://project-6-05.herokuapp.com/product/details/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/details/3">https://project-6-05.herokuapp.com/product/details/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/details/4">https://project-6-05.herokuapp.com/product/details/4</a>
          </li>
        </ol>
    </h5>
        <br/>
        <h4>GET JSON details of the Product</h4>
        <h5>
        <ol>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/product/findall">https://project-6-05.herokuapp.com/product/findall</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/findone/1">https://project-6-05.herokuapp.com/product/findone/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/findone/2">https://project-6-05.herokuapp.com/product/findone/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/findone/3">https://project-6-05.herokuapp.com/product/findone/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/product/findone/4">https://project-6-05.herokuapp.com/product/findone/4</a>
          </li>
  
        </ol>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view about Customers</h4>
        <h5>
        <ol>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers">https://project-6-05.herokuapp.com/Customers</a>
          </li>
          <li>
            <a href=" https://project-6-05.herokuapp.com/Customers/create"> https://project-6-05.herokuapp.com/Customers/create</a>
          </li>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/edit/1">https://project-6-05.herokuapp.com/Customers/edit/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/edit/2">https://project-6-05.herokuapp.com/Customers/edit/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/edit/3">https://project-6-05.herokuapp.com/Customers/edit/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/edit/4">https://project-6-05.herokuapp.com/Customers/edit/4</a>
          </li>
          
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/delete/1">https://project-6-05.herokuapp.com/Customers/delete/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/delete/2">https://project-6-05.herokuapp.com/Customers/delete/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/delete/3">https://project-6-05.herokuapp.com/Customers/delete/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/delete/4">https://project-6-05.herokuapp.com/Customers/delete/4</a>
          </li>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/details/1">https://project-6-05.herokuapp.com/Customers/details/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/details/2">https://project-6-05.herokuapp.com/Customers/details/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/details/3">https://project-6-05.herokuapp.com/Customers/details/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/details/4">https://project-6-05.herokuapp.com/Customers/details/4</a>
          </li>
        </ol>
    </h5>
        <br/>
        <h4>GET JSON details of the Customer</h4>
        <h5>
        <ol>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/findall">https://project-6-05.herokuapp.com/Customers/findall</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/findone/1">https://project-6-05.herokuapp.com/Customers/findone/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/findone/2">https://project-6-05.herokuapp.com/Customers/findone/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/findone/3">https://project-6-05.herokuapp.com/Customers/findone/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/Customers/findone/4">https://project-6-05.herokuapp.com/Customers/findone/4</a>
          </li>
  
        </ol>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view about Order</h4>
        <h5>
        <ol>
          <li>
            <a href="https://project-6-05.herokuapp.com/order">https://project-6-05.herokuapp.com/order</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/create">https://project-6-05.herokuapp.com/order/create</a>
          </li>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/order/edit/1">https://project-6-05.herokuapp.com/order/edit/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/edit/2">https://project-6-05.herokuapp.com/order/edit/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/edit/3">https://project-6-05.herokuapp.com/order/edit/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/edit/4">https://project-6-05.herokuapp.com/order/edit/4</a>
          </li>
          
          <li>
            <a href="https://project-6-05.herokuapp.com/order/delete/1">https://project-6-05.herokuapp.com/order/delete/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/delete/2">https://project-6-05.herokuapp.com/order/delete/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/delete/3">https://project-6-05.herokuapp.com/order/delete/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/delete/4">https://project-6-05.herokuapp.com/order/delete/4</a>
          </li>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/order/details/1">https://project-6-05.herokuapp.com/order/details/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/details/2">https://project-6-05.herokuapp.com/order/details/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/details/3">https://project-6-05.herokuapp.com/order/details/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/details/4">https://project-6-05.herokuapp.com/order/details/4</a>
          </li>
        </ol>
    </h5>
        <br/>
        <h4>GET JSON details of the Order</h4>
        <h5>
        <ol>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/findall">https://project-6-05.herokuapp.com/order/findall</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/findone/1">https://project-6-05.herokuapp.com/order/findone/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/findone/2">https://project-6-05.herokuapp.com/order/findone/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/findone/3">https://project-6-05.herokuapp.com/order/findone/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/order/findone/4">https://project-6-05.herokuapp.com/order/findone/4</a>
          </li>
        </ol>
              <!-- ----------------------------------- -->
      <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view about Orderlineitem</h4>
        <h5>
        <ol>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderlineitem">https://project-6-05.herokuapp.com/orderlineitem</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/create">https://project-6-05.herokuapp.com/orderLineItem/create</a>
          </li>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/edit/1">https://project-6-05.herokuapp.com/orderLineItem/edit/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/edit/2">https://project-6-05.herokuapp.com/orderLineItem/edit/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/edit/3">https://project-6-05.herokuapp.com/orderLineItem/edit/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/edit/4">https://project-6-05.herokuapp.com/orderLineItem/edit/4</a>
          </li>
          
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/delete/1">https://project-6-05.herokuapp.com/orderLineItem/delete/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/delete/2">https://project-6-05.herokuapp.com/orderLineItem/delete/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/delete/3">https://project-6-05.herokuapp.com/orderLineItem/delete/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/delete/4">https://project-6-05.herokuapp.com/orderLineItem/delete/4</a>
          </li>
  
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/details/1">https://project-6-05.herokuapp.com/orderLineItem/details/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/details/2">https://project-6-05.herokuapp.com/orderLineItem/details/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/details/3">https://project-6-05.herokuapp.com/orderLineItem/details/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/details/4">https://project-6-05.herokuapp.com/orderLineItem/details/4</a>
          </li>
        </ol>
    </h5>
        <br/>
        <h4>GET JSON details of the Orderlineitem</h4>
        <h5>
        <ol>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/findall">https://project-6-05.herokuapp.com/orderLineItem/findall</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/findone/1">https://project-6-05.herokuapp.com/orderLineItem/findone/1</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/findone/2">https://project-6-05.herokuapp.com/orderLineItem/findone/2</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/findone/3">https://project-6-05.herokuapp.com/orderLineItem/findone/3</a>
          </li>
          <li>
            <a href="https://project-6-05.herokuapp.com/orderLineItem/findone/4">https://project-6-05.herokuapp.com/orderLineItem/findone/4</a>
          </li>
        </ol>

        <li>
            <a href="https://bitbucket.org/SaiTejaswiniNarne/6-05/src/master/">BitBucket Repository</a>
        </li>
        </h5>
      </div>
    </div>
  </div>
<% include footer %>