.container{
    font-size: 40px;
    background-color: #EA6A47;
    color: #20283E;
}

.navbar-brand{
    font-size: 40px;
    color: gray;
    /* overflow: hidden; */
}

  .navbar-brand .dropbtn {
      font-size: 12px;    
      border: none;
      outline: none;
      color: grey;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      float: none;
      color: rgb(240, 212, 212);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  .navbar-brand:hover .dropdown-content {
      display: block;
  }