<!-- main  -->
<!---Author: Chetty Ragava Harshitha-->
<% include ../header %>
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= order.name %>" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" value="<%= order.email %>">
    </div>
    <div class="form-group">
      <label for="datePlaced">Date Placed</label>
      <input type="text" class="form-control" id="dateplaced" name="dateplaced" value="<%= order.dateplaced %>">
    </div>
    <div class="form-group">
      <label for="dateShipped">Date Shipped</label>
      <input type="text" class="form-control" id="dateshipped" name="dateshipped" value="<%= order.dateshipped %>">
    </div>
    <div class="form-group">
      <label for="paymentType">Payment Type</label>
      <input type="text" class="form-control" id="paymentType" name="paymentType" value="<%= order.paymentType %>" required>
    </div>
    <div class="form-group">
      <label for="paid">Paid</label>
      <input type="text" class="form-control" id="paid" name="paid" value="<%= order.paid %>" required>
    </div>
    <!-- <div class="form-group">
      <label for="dateplaced">DatePlaced</label>
      <input onchange="onAgeChange()" type="number" class="form-control" id="dateplaced" name="dateplaced" value="<%= order.dateplaced %>" required>
    </div>
    <div class="form-group">
      <label for="dateshipped">DateShipped</label>
      <input onchange="onAgeChange()" type="number" class="form-control" id="dateshipped" name="dateshipped" value="<%= order.dateshipped %>" required>
    </div> -->
  </div>
</div>
<!-- <hr> -->
<% include ../footer %>