<!---Author: Harika Naidu-->
<% include ../header %>
<br/>
<br/>
<h2>Confirm deletion of product</h2>
<br/>
<h3>
<br/> ID:
<%=  product._id %>
<br> Product:
<%=product.product %>
<br/> Description:
<%=product.description%>
<br/> unitPrice:
<%=product.unitPrice%>
</h3>
<form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>
        <br/>
        <form method="POST" action="/product/delete/<%= product._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-left" />     
        </form>
        <br>
        <br>

<% include ../footer %>