<!---Author: Sai Tejaswini Narne-->
<% include ../header %>
<br/>
<br/>
<h2>customer details</h2>
    <br/> ID:
    <%=  customer._id %>
    <br> Email:
     <%=customer.email %>
    <br/> FirstName:
    <%=customer.Firstname%>
    <br/> LastName:
      <%=customer.Lastname%>
     <br/>Street Address:
      <%=customer.street1%>
     <br/>Street Address2:
      <%=customer.street2%>
     <br/>City:
      <%=customer.city%>
     <br/>State:
     <%=customer.state%>
    <br/>Zip-Code:
     <%=customer.zip%>
    <br/>country:
    <%=customer.country%>
   <br/>   
            <br/>
            <br/>
            <form method="get" action="/Customers">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
            <% include ../footer %>